.header h2 {
    color: #FC5200;
    font-family: 'Erica One', cursive;
    box-sizing: border-box;
    // border: red 3px;
    font-size: large;
}

.header a{
    text-decoration: none; 
    border-radius: 4px;
    // border: 1px solid dfdfde8 ;   
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid grey;
    height: 20px;
}