.container {
    height: calc(100vh - 30px);
    width: 100vw;   
    border: solid 5px red; 
    position: relative;
    box-sizing: border-box;
}

.form-and-stuff {
    min-width: 250px;
    background-color: rgba($color: #000000, $alpha: 0.75);
    height: 45%;
    width: 16%;
    box-sizing: border-box;
    border: brown 3px solid;
    display: block;
    position: absolute;
    top: 5%;
    left: 42%;
    color: white;
    padding: auto;
}

#top-of-form {
        box-sizing: border-box;
        border: brown 3px solid;
        background-color: rgba($color: #000000, $alpha: 1.0);
        color: white;
        height: 15%;
        width: 100%;
        display: flex;
        > h1 {
            font-size: 35px;
            font-weight: 300;
            margin: auto;
    }
}

.bottom-of-form {
    box-sizing: border-box;
    border: red 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0.5rem;

    > #demo-user{
        width: 100%;
        box-sizing: border-box;
        border: green 3px solid;
        padding: 0.5rem;
        margin: auto;
        > button {
            background-color: #fc4c02;
            border-radius: 4%;
            width: 100%;
        }
    }
}

.background-img{
    height: 100%;
    width: 1000%;
    position: relative;
    box-sizing: border-box;
    > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        overflow:hidden;
    }
}

input{
    padding: 0.25rem;
}