.signup-container {
    height: calc(100vh - 30px);
    width: 100vw;   
    // border: solid 5px red; 
    position: relative;
    box-sizing: border-box;
}

.signup-form-and-stuff {
    min-width: 250px;
    background-color: rgba($color: #000000, $alpha: 0.75);
    height: 57%;
    width: 16%;
    box-sizing: border-box;
    // border: brown 3px solid;
    display: block;
    position: absolute;
    top: 17%;
    left: 65%;
    color: white;
    padding: auto;
}

.background-img{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        overflow:hidden;
    }
}

#signup-top-of-form {
        box-sizing: border-box;
        // border: brown 3px solid;
        background-color: rgba($color: #000000, $alpha: 1.0);
        color: white;
        height: 20%;
        width: 100%;
        display: flex;
        > h1 {
            font-size: 35px;
            font-weight: 300;
            margin: auto;
    }
}

.signup-bottom-of-form {
    box-sizing: border-box;
    // border: red 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

#email-input {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    > input {
        width: 95%;
    }
}
#password-input {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    width: 100%;
    > input {
        width: 95%;
    }
}
#name-input {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    width: 100%;
    > input {
        width: 95%;
    }
}
#gender-input {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    width: 100%;
    > input {
        width: 95%;
    }
    > label {
        right: 0.5em;
    }
}
#location-input {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    width: 100%;
    > input {
        width: 95%;
    }
}
#birthday-input {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    width: 100%;
    > input {
        width: 95%;
    }
}
#weight-input {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    width: 100%;
    > input {
        width: 95%;
    }
}
#errors {
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    width: 100%;
    color: #fc4c02;
}

#submit-button{
    box-sizing: border-box;
    // border: green 3px solid;
    padding: 0.5rem;
    margin: auto;
    width: 100%;
    > button {
        // background-color: #fc4c02;
        border-radius: 4%;
        width: 100%;
    }
}

